In [1]:
import pandas as pd

In [31]:
TAP = pd.read_csv('../Test/Attention.csv', index_col=0)[['ID', 'TAPA']]
CVLT = pd.read_csv('../Test/memory.csv', index_col=0)[['ID', 'CVLT']]
TMT = pd.read_csv('../Test/VSSR.csv', index_col=0)[['ID', 'TMT']]

Age_data = pd.read_csv("/workspace/brail_poc3/experiments/Behavioural_Data_MPILMBB_LEMON/META_File_IDs_Age_Gender_Education_Drug_Smoke_SKID_LEMON.csv")
Age_data = Age_data.loc[:, ["Subject", "Age"]]
Age_data = Age_data.rename({'Subject': 'ID'}, axis='columns')

def convert_age_range(age_range):
    # ハイフンで文字列を分割し、最初の部分を取得
    return int(age_range.split("-")[0])

Age_data["Age_1"] = Age_data["Age"].apply(convert_age_range)
Age_data.drop("Age", axis=1, inplace=True)

In [34]:
Label = Age_data.merge(TAP, on='ID', how='left')
Label = Label.merge(CVLT, on='ID', how='left')
Label = Label.merge(TMT, on='ID', how='left')
Label.to_csv('label.csv')

In [35]:
Label

             ID  Age_1      TAPA      CVLT       TMT
0    sub-032311     20 -0.235381 -0.371043 -0.423398
1    sub-032309     20  0.103865  0.160211 -0.296576
2    sub-032382     25 -0.224514  0.182326 -0.380918
3    sub-032302     20 -0.060740 -0.298945 -0.368657
4    sub-032315     20 -0.350309  0.130786 -0.354255
..          ...    ...       ...       ...       ...
223  sub-032304     25 -0.096677  0.786817  0.948453
224  sub-032439     20 -0.250214 -0.287718 -0.356117
225  sub-032440     25 -0.375662 -0.536070 -0.323686
226  sub-032441     25 -0.101989  0.555243 -0.048483
227  sub-032525     20 -0.138643  0.202236 -0.299186

[228 rows x 5 columns]